@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@keyframes border-glow {
  0% {
    box-shadow: 0 0 5px rgba(2, 132, 199, 0.6); /* sky-600 */
  }
  50% {
    box-shadow: 0 0 13px rgba(2, 132, 199, 0.9);
  }
  100% {
    box-shadow: 0 0 15px rgba(2, 132, 199, 0.6);
  }
}

.animate-border-glow {
  animation: border-glow 1.5s infinite alternate;
}
