@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@keyframes border-glow {
  0% {
    box-shadow: 0 0 5px rgba(56, 189, 248, 0.6);
  }
  50% {
    box-shadow: 0 0 11px rgba(56, 189, 248, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(56, 189, 248, 0.6);
  }
}

.animate-border-glow {
  animation: border-glow 1.5s infinite alternate;
}
